.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {

  
  text-align: center;
 
 
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
h1{
  font-family:  'Inter', 'variable';
}


.websiteTitle{

position: absolute;
color: white;
padding: 2%;
background-color: #383838;
border-radius: 15px 50px 30px;
font-size: large;

}
.websiteImageMain{
  z-index: 1;
 
}
.searchForm{

 width: 50%;
 height: 40px;
border-radius: 20px;
font-size: large;
text-align: center;
position: absolute;
top: 40%;
bottom: 60%;
left: 0;
right: 0;
margin: auto;
}


